// Place all the styles related to the lists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1.inline, h2.inline, h3.inline, h4.inline, h5.inline {
  display: inline;
}
.sidebar-nav {
  ul {
    padding-left: 20px;
  }
  li {
    line-height: 30px;
    list-style: none;
  }
}
