<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="#">
        Start Bootstrap
      </a>
    </li>
    <% List.where(parent_list_id: nil).each do |head| %>
        <li>
          <a href="#"><%= head.name %></a>
          <ul>
            <%= render_sublists(head) %>
          </ul>
        </li>
    <% end %>                
  </ul>
</div>
<!-- /#sidebar-wrapper -->