<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">
      <a href="/">
        SW wiki
      </a>
    </li>
    <% List.where(parent_list_id: nil).each do |head| %>
      <li>
        <%= link_to "- #{head.name}", list_path(head) %>
        <%= render_sublists(head) %>
      </li>
    <% end %>                
  </ul>
</div>
<!-- /#sidebar-wrapper -->